<%- include ../partials/header %>

<div id="content">
    <h1>All Events</h1>

    <% if (showNew) { %>
        <form method="POST" action="/allEvents/new">
            <table>
                <tr>
                    <td> <b>Title</b> </td>
                    <td> <input type="text" name="title"> </td>
                </tr>
                <tr>
                    <td> <b>Date</b> </td>
                    <td>
                        <%- include('../partials/dateForm', { date: null }) %>
                    </td>
                </tr>
            </table>
            <p>
                <button type="submit">Create</button>
            </p>
        </form>
        <p>
            <a href="/allEvents">cancel</a>
        </p>
    <% } else { %>
        <p>
            <a href="/allEvents/new">+ Create Event</a>
        </p>
    <% } %>

    <table border="1">
        <tr>
            <th> Title </th>
            <th> Date </th>
            <th> People </th>
            <th> </th>
        </tr>
        <% for (var i = 0; i < events.length; i++) { %>
            <%
                var event = events[i];
                var eventPath = '/event/' + events[i]._id;
            %>
            <tr>
                <td>
                    <a href="<%= eventPath %>"><%= event.title %></a>
                </td>
                <td>
                    <%- include('../format/date', {date: event.date}) %>
                </td>
                <td>
                    <ul>
                        <% for (var p = 0; p < event.people.length; p++) { %>
                            <li>
                                <%- include('../partials/linkToPerson', {person: event.people[p]}) %>
                            </li>
                        <% } %>
                    </ul>
                </td>
                <td>
                    <form action="<%= eventPath %>/delete" method="POST" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" value="DELETE" name="_method">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</div>
