<h1>All Events</h1>

<% if (showNew) { %>
    <%- include('../forms/newEvent', { params: {
        actionPath: '/events/new',
        cancelPath: '/events',
    }}) %>
<% } else { %>
    <p>
        <a href="/events/new">+ Create Event</a>
    </p>
<% } %>

<%- include('./eventList', { params: {
    events: events,
}}) %>
