<%- include ../partials/header %>

<% var rootPath = '/event/' + event._id; %>

<div id="content">
    <h1><%= event.title %></h1>

    <table border="1">

        <!-- TITLE -->

        <%
            var editTitlePath = rootPath + '/editTitle';
        %>

        <tr>
            <td>
                <b>Title</b>
            </td>
            <form action="<%= editTitlePath %>" method="POST">
                <td>
                    <% if (editField == 'title') { %>
                        <input type="text" value="<%= event.title %>" name="title">
                    <% } else { %>
                        <%= event.title %>
                    <% } %>
                </td>
                <td>
                    <% if (editField == 'title') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootPath %>">cancel</a>
                    <% } else if (editField == 'none') { %>
                        <a href="<%= editTitlePath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- DATE -->

        <%
            var editDatePath = rootPath + '/editDate';

            var dateStr = [];
            if (event.date.year > 0) {
                dateStr.push(event.date.year);
            }
            if (event.date.month > 0) {
                dateStr.push(event.date.month);
            }
            if (event.date.day > 0) {
                dateStr.push(event.date.day);
            }
            dateStr = dateStr.join('-');
        %>

        <tr>
            <td>
                <b>Date</b>
            </td>
            <form action="<%= editDatePath %>" method="POST">
                <td>
                    <% if (editField == 'date') { %>
                        <%- include('../partials/dateForm', { date: event.date }) %>
                    <% } else { %>
                        <%= dateStr %>
                    <% } %>
                </td>
                <td>
                    <% if (editField == 'date') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootPath %>">cancel</a>
                    <% } else if (editField == 'none') { %>
                        <a href="<%= editDatePath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- PEOPLE -->

        <%
            var numberOfPeople = event.people.length;
            var addPersonPath = rootPath + '/addPerson';
            var deletePersonPath = rootPath + '/deletePerson/';
        %>

        <% for (var p = 0; p < numberOfPeople + 1; p++) { %>
            <tr>
                <td>
                    <% if (p == 0) { %>
                        <b>People</b>
                    <% } %>
                </td>
                <% if (p < numberOfPeople) { %>
                    <% let person = event.people[p]; %>
                    <form action="<%= deletePersonPath %><%= person.id %>" method="POST">
                        <td>
                            <%- include('../partials/linkToPerson', {person: person}) %>
                        </td>
                        <td>
                            <% if (editField == 'none') { %>
                                <input type="hidden" value="PUT" name="_method">
                                <button type="submit">delete</button>
                            <% } %>
                        </td>
                    </form>
                <% } else if (editField == 'none') { %>
                    <td>
                        <a href="<%= addPersonPath %>">add</a>
                    </td>
                    <td>
                    </td>
                <% } else if (editField == 'people') { %>
                    <form action="<%= addPersonPath %>" method="POST">
                        <td>
                            <%- include('../partials/personDropdown', {name: 'people', selected: null}) %>
                        </td>
                        <td>
                            <input type="hidden" value="PUT" name="_method">
                            <button type="submit">save</button>
                            <a href="<%= rootPath %>">cancel</a>
                        </td>
                    </form>
                <% } %>
            </tr>
        <% } %>

        <!--  -->
    </table>
</div>
