<%- include ../partials/header %>

<%
    var rootPath = '/event/' + event._id;
%>

<div id="page-content">
    <h1><%= event.title %></h1>

    <table class="edit-form-frame">

        <!-- TITLE -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'title',
            editPath: rootPath + '/editTitle',
            originalValue: event.title,
        }}) %>

        <!-- DATE -->

        <%- include('../forms/tableRowRoute', { params: {
            attr: 'date',
            editPath: rootPath + '/editDate',
            originalValue: event.date,
        }}) %>

        <!-- LOCATION -->

        <%- include('../forms/tableRowRoute', { params: {
            attr: 'location',
            editPath: rootPath + '/editLocation',
            originalValue: event.location,
        }}) %>

        <!-- PEOPLE -->

        <%- include('../forms/tableRowMulti', { params: {
            attr: 'people',
            rootPath: rootPath,
            values: event.people,
        }}) %>

        <!-- NOTES -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'notes',
            editPath: rootPath + '/edit/notes',
            originalValue: event.notes,
        }}) %>
    </table>

    <!-- DELETE EVENT -->

    <% if (editField == 'none') { %>
        <form action="<%= rootPath %>/delete" method="POST" onsubmit="return confirmDeletion('event')">
            <p style="padding-top: 20px;">
                <input type="hidden" value="PUT" name="_method">
                <button type="submit" class="button-delete">delete event</button>
            </p>
        </form>
    <% } %>
</div>

<script>
  initializeEditForm('<%= editField %>' != 'none');
</script>
