<%- include ../partials/header %>

<%
    var rootPath = '/event/' + event._id;
%>

<div id="page-content">
    <h1><%= event.title %></h1>

    <table class="edit-form-frame">

        <!-- TITLE -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'title',
            editPath: rootPath + '/editTitle',
            originalValue: event.title,
        }}) %>

        <!-- DATE -->

        <%- include('../forms/tableRowRoute', { params: {
            attr: 'date',
            editPath: rootPath + '/editDate',
            originalValue: event.date,
        }}) %>

        <!-- LOCATION -->

        <%- include('../forms/tableRowRoute', { params: {
            attr: 'location',
            editPath: rootPath + '/editLocation',
            originalValue: event.location,
        }}) %>

        <!-- PEOPLE -->

        <%
            var numberOfPeople = event.people.length;
            var addPersonPath = rootPath + '/addPerson';
            var deletePersonPath = rootPath + '/deletePerson/';
        %>

        <% for (var p = 0; p < numberOfPeople + 1; p++) { %>
            <tr>
                <td>
                    <% if (p == 0) { %>
                        <b>people</b>
                    <% } %>
                </td>
                <% if (p < numberOfPeople) { %>
                    <% let person = event.people[p]; %>
                    <form action="<%= deletePersonPath %><%= person.id %>" method="POST"
                            onsubmit="return confirmDeletion('person from event')">
                        <td>
                            <%- include('../partials/linkToPerson', {person: person}) %>
                        </td>
                        <td>
                            <% if (editField == 'none') { %>
                                <input type="hidden" value="PUT" name="_method">
                                <button type="submit">delete</button>
                            <% } %>
                        </td>
                    </form>
                <% } else if (editField == 'none') { %>
                    <td>
                        <a href="<%= addPersonPath %>">add</a>
                    </td>
                    <td>
                    </td>
                <% } else if (editField == 'people') { %>
                    <form action="<%= addPersonPath %>" method="POST">
                        <td>
                            <%- include('../forms/personDropdown', { params: {
                                name: 'people',
                                selected: null,
                            }}) %>
                        </td>
                        <td>
                            <input type="hidden" value="PUT" name="_method">
                            <button type="submit">save</button>
                            <a href="<%= rootPath %>">cancel</a>
                        </td>
                    </form>
                <% } %>
            </tr>
        <% } %>

        <!-- NOTES -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'notes',
            editPath: rootPath + '/edit/notes',
            originalValue: event.notes,
        }}) %>
    </table>

    <!-- DELETE EVENT -->

    <% if (editField == 'none') { %>
        <form action="<%= rootPath %>/delete" method="POST" onsubmit="return confirmDeletion('event')">
            <p style="padding-top: 20px;">
                <input type="hidden" value="PUT" name="_method">
                <button type="submit" class="button-delete">delete event</button>
            </p>
        </form>
    <% } %>
</div>

<script>
  initializeEditForm('<%= editField %>' != 'none');
</script>
