<style>
.subnavlinks p {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
.subnavlinks p.current {
  background-color: #dfdfdf;
}
</style>

<% if (placeList) { %>
  <div class="subnavlinks">
    <% placeList.forEach(([path, placeName]) => { %>
      <p>
        <a href="<%= path %>"><%= placeName %></a>
      </p>
    <% }); %>
  </div>
<% } %>

<% story.entries.forEach(source => { %>
  <%- include('../source/_block', {
    source,
    showStory: false,
    limitContent: true,
  }); %>
<% }); %>
