<%
  const categories = [
    {
      key: 'citation',
      title: 'citation',
      alwaysShowCategory: story.shouldHaveCiteText(),
      showNone: !notations.citation,
    },
    {
      key: 'except',
      title: 'excerpts from sources',
    },
    {
      key: 'other',
      title: 'other notations',
    },
  ];
%>

<style>
  hr {
    margin: 20px 0;
  }
  .notation p {
    margin-top: 10px;
  }
  .notation li {
    margin-top: 5px;
  }
  #new-notation-form {
    display: none;
  }
</style>

<h2>story notations</h2>

<p>
  <span class="clickable-link" id="add-notation">+ add notation</span>
</p>

<div id="new-notation-form">
  <h2>new notation</h2>
  <form method="post" action="/story/<%= story._id %>/createNotation">
    <b>title</b> <input name="title"/>
    <br>
    <b>text</b> <textarea name="text"></textarea>
    <br>
    <button>submit</button>
    <span class="clickable-link" id="new-notation-cancel">cancel</span>
  </form>
</div>

<% categories.forEach(category => { %>
  <% if (notations[category.key] || category.alwaysShowCategory) { %>
    <hr>

    <h2><%= category.title %></h2>

    <% if (category.showNone) { %>
      <p>
        <i>(none)</i>
      </p>
    <% } %>

    <% (notations[category.key] || []).forEach(notation => { %>
      <hr>
      <div>
        <p>
          <%- include('../notation/_link', {notation}) %>
        </p>
        <p>
          <%= notation.text %>
        </p>
      </div>
    <% }); %>
  <% } %>
<% }); %>

<script>
  $('#add-notation').click(() => {
    $('#new-notation-form').show();
    $('#add-notation').hide();
  });
  $('#new-notation-cancel').click(() => {
    $('#new-notation-form').find('input, textarea').val('');
    $('#new-notation-form').hide();
    $('#add-notation').show();
  });
</script>
