<% if (url != null && url != '') { %>
    <%
        var linkText = url;
        if (url.match('http') == null) {
            url = 'https://' + url;
        }
    %>
    <a href="<%= url %>" target="_blank"><%= linkText %></a>
<% } %>
