<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>
    Lundberg Ancestry
</title>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/person/AnnaPeterson">Anna</a></li>
    <li><a href="/allPeople">All People</a></li>
    <li><a href="/allEvents">All Events</a></li>
</ul>
