<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<script src="/vendor/jquery.3.3.1.min.js"></script>

<script src="/scripts/script.js"></script>

<link href="/images/favicon.ico" rel="shortcut icon" type="image/icon">
<link href="/images/favicon.ico" rel="icon" type="image/icon">

<title>
    Lundberg Ancestry
</title>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/person/AnnaPeterson">Anna</a></li>
    <li><a href="/allPeople">All People</a></li>
    <li><a href="/allEvents">All Events</a></li>
</ul>
