<% if (params.person == null) { %>
    ________
<% } else { %>
    <%
        let person = params.person;
        let personId = person.customId;
        if (personId == null) {
            personId = person._id;
        }
    %>
    <a href="/person/<%= personId %>"><%= person.name %></a>
<% } %>
