<ul class="people_list">
    <% for (var p = 0; p < people.length; p++) { %>
        <li>
            <%- include('../partials/linkToPerson', { person: people[p] }) %>
        </li>
    <% } %>
</ul>
