<ul class="bullet-list">
    <% for (var p = 0; p < people.length; p++) { %>
        <li>
            <%- include('../partials/linkToPerson', { params: {
                person: people[p]
            }}) %>
        </li>
    <% } %>
</ul>
