<ul class="bullet-list">
    <% params.people.forEach(person => { %>
        <li>
            <%- include('../partials/linkToPerson', { params: {
                person: person,
            }}) %>
        </li>
    <% }); %>
</ul>
