<select name="<%= name %>">
    <option value="0" selected="selected">
        -- Select --
    </option>
    <% for (var personIndex = 0; personIndex < people.length; personIndex++) { %>
        <% let thisPerson = people[personIndex]; %>
        <option value="<%= thisPerson.id %>">
            <%= thisPerson.name %>
        </option>
    <% } %>
</select>
