<%
    var personStrItems = ['_id', 'customId', 'name'];
    var personArrItems = ['parents', 'spouses', 'children'];
%>

<div id="content">
    <h1>var database = {</h1>

    <h2>"people": {</h2>

    <% people.forEach(person => { %>
        <span>
            &#160;&#160;"<%= person._id %>": {<br>
            <% personStrItems.forEach(str => { %>
                &#160;&#160;&#160;&#160;"<%= str %>":
                "<%= person[str] %>",<br>
            <% }); %>

            <% personArrItems.forEach((str, j) => { %>
                <%- include('./attrList', { params: {
                    attr: str,
                    list: person[str],
                    splitAll: false,
                    comma: true,
                }}) %>
            <% }); %>

            <%- include('./attrList', { params: {
                attr: 'links',
                list: person.links,
                splitAll: true,
                comma: false,
            }}) %>

            &#160;&#160;},<br>
        </span>
    <% });%>

    <h2>}, "sources": {</h2>

    <% sources.forEach(source => { %>
    <% });%>

    <h2>}, "events": {</h2>

    <% events.forEach(event => { %>
    <% });%>

    <h2>}, "citations": {</h2>

    <% citations.forEach(citation => { %>
    <% });%>

    <h2>}</h2>
    <h1>}</h1>
</div>
