<% if (locals.person) { %>
  <%
    let personId = person.customId;
    if (personId == null || locals.useRealId) {
      personId = person._id;
    }
    const linkText = locals.linkText ? locals.linkText : person.name;
  %>
  <a href="/person/<%= personId %>"><%= linkText %></a>
<% } else { %>
  ________
<% } %>
