<% if (locals.person) { %>
  <%
    let personId = person.customId;
    if (personId == null || locals.useRealId) {
      personId = person._id;
    }
  %>
  <a href="/person/<%= personId %>"><%= person.name %></a>
<% } else { %>
  ________
<% } %>
