<% if (locals.format == 'bullet') { %>
  <ul class="bullet-list">
    <% people.forEach(person => { %>
      <li>
        <%- include('./_link', {person}) %>
        <%= locals.showAge ? ('(' + person.age + ')') : '' %>
      </li>
    <% }); %>
  </ul>
<% } else if (locals.format == 'list') { %>
  <ul class="no-bullet-list">
    <% people.forEach(person => { %>
      <li>
        <%- include('./_link', {person}) %>
        <%= locals.showAge ? ('(' + person.age + ')') : '' %>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  (specify peopleList format)
<% } %>
