<style>
  #not-creating-person,
  #create-person-box {
    min-height: 100px;
    box-sizing: border-box;
  }

  #not-creating-person p {
    padding: 10px;
  }

  input {
    padding: 3px;
  }

  #create-person-box {
    display: none;
    padding: 10px;
  }
</style>

<h1>People</h1>

<div id="not-creating-person">
  <p>
    <span id="create-person-start" class="clickable-link">+ new person</span>
  </p>
  <p>
    filter: <input id="people-list-filter" type="text">
  </p>
</div>

<div id="create-person-box">
  <form action="/people/new" method="post">
    <p>
      <b>name:</b>
      <input type="text" name="name">
    </p>
    <p>
      <b>gender:</b>
      <select name="gender">
        <option value="1">female</option>
        <option value="2">male</option>
        <option value="3">unknown</option>
      </select>
    </p>
    <p>
      <button>create</button>
      <span id="create-person-cancel" class="clickable-link">cancel</span>
    </p>
  </form>
</div>

<ul id="listOfPeople" class="list_of_items">
  <% for (let i = 0; i < people.length; i++) { %>
    <%
      const person = people[i];
      const searchName = person.name.toLowerCase();
    %>
    <li person_name="<%= searchName %>" class="person_row">
      <%- include('./_link', {person}) %>
    </li>
  <% } %>
</ul>

<script>
  $('#create-person-start').click(() => {
    $('#not-creating-person').hide();
    $('#create-person-box').show();
    $('#create-person-box [name="name"]').focus();
  });

  $('#create-person-cancel').click(() => {
    $('#not-creating-person').show();
    $('#create-person-box').hide();
  });

  createQuickFilter({
    input: '#people-list-filter',
    items: '#listOfPeople .person_row',
    getItemText: $item => $item.attr('person_name'),
    startFocus: true,
  });
</script>
