<%
  const rootPath = '/person/' + paramPersonId;
  let previousSourceType = '';
%>

<% sources.forEach(source => { %>
  <%
    const sourceCitations = citations.filter(citation => {
      return ('' + citation.source) == ('' + source._id);
    });

    const notesList = source.notes ? source.notes.split('\n') : null;

    let pluralType;

    if (source.type != previousSourceType) {
      pluralType = source.type;

      if (pluralType == 'index') {
        pluralType = 'web index';
      } else {
        pluralType += 's';
      }

      previousSourceType = source.type;
    }
  %>

  <% if (pluralType) { %>
    <h2><%= pluralType %></h2>
  <% } %>

  <%- include('../sources/sourceBlock', {
    source: source,
    showStory: true,
    limitContent: true,
    citationParams: {
      citations: sourceCitations,
      showDelete: false,
      showSource: false,
      showPerson: false,
      rootPath: rootPath,
      groupBy: 'item',
    },
  }); %>
<% }); %>
