<%
  const rootPath = '/person/' + paramPersonId;
  let previousSourceType = '';
%>

<% sources.forEach(source => { %>
  <%
    const sourceCitations = citations.filter(citation => {
      return ('' + citation.source) == ('' + source._id);
    });

    const notesList = source.notes ? source.notes.split('\n') : null;

    let groupTitle;

    if (source.story.type != previousSourceType) {
      groupTitle = {
        cemetery: 'grave',
        index: 'web index',
      }[source.story.type] || (source.story.type + 's');
      previousSourceType = source.story.type;
    }
  %>

  <% if (groupTitle) { %>
    <h2><%= groupTitle %></h2>
  <% } %>

  <%- include('../sources/sourceBlock', {
    source: source,
    showStory: true,
    limitContent: true,
    citationParams: {
      citations: sourceCitations,
      showDelete: false,
      showSource: false,
      showPerson: false,
      rootPath: rootPath,
      groupBy: 'item',
    },
  }); %>
<% }); %>
