<% sources.forEach(source => { %>
  <p style="margin: 10px 0; max-width: 800px;">
    <b>'''<%= source.story.title %>.'''</b>
    <% if (source.story.title.match('Census') && source.notations.length < 2) { %>
      <span style="color: red;">(missing)</span>
    <% } %>
    <%= source.notations.join(' ') %>
    <%
      const familySearch = source.links.filter(url => url.match('FamilySearch'));
    %>
    <% if (familySearch) { %>
      (<a href="<%= familySearch %>" target="_blank"><%= familySearch %></a>)
    <% } %>
  </p>
<% }); %>
