<% sources.forEach(source => { %>
  <p style="margin: 10px 0; max-width: 800px;">
    <b>'''<%= source.story.title %>.'''</b>
    <% if (source.story.title.match('Census') && source.notations.length < 2) { %>
      <span style="color: red;">(missing)</span>
    <% } %>
    <%= source.notations.join(' ') %>
  </p>
<% }); %>
