<%
  const imageCSS = locals.css || 'max-height: 100px;';
  const imageSrc = image.src();
%>

<a
  href="<%= imageSrc %>"
  target="_blank"
><img
  src="<%= imageSrc %>"
  style="<%= imageCSS %>"
></a>

<a href="/image/<%= image._id %>"><img src="/images/info.png" style="height: 20px;"></a>
