<%
  const tags = (locals.item ? item.tags : locals.tags) || [];
  const tagValues = (locals.item ? item.tagValues : locals.tagValues) || [];
%>
<% if (tags.length) { %>
  <ul class="bullet-list">
    <% tags.forEach((tag, i) => { %>
      <li>
        <%- include('./_link', {tag}) %>
        <% if (tagValues[i]) { %>
          - <%= tagValues[i] %>
        <% } %>
      </li>
    <% }); %>
  </ul>
<% } %>
