<%
  const databaseParts = [
    'people', 'stories', 'sources', 'events',
    'citations', 'notations', 'tasks',
  ];
%>

<title>
  Database | Lundberg Ancestry
</title>

<div id="page-content">
  <h1>const database = {</h1>

  <% databaseParts.forEach((attr, i) => { %>
    <h2>
      <% if (i > 0) { %>
        },
      <% } %>
      "<%= attr %>": {
    </h2>

    <% locals[attr].forEach((obj, j) => { %>
      <span>
        "<%= obj._id %>":
        <%= JSON.stringify(obj) %><%= j < locals[attr].length - 1 ? ',' : '' %>
      </span><br>
    <% }); %>
  <% }); %>

  <h2>}</h2>
  <h1>}</h1>
</div>
