<%
    var personStrItems = ['_id', 'customId', 'name'];
    var personArrItems = ['parents', 'spouses', 'children'];
%>

<div id="content">
    <h1>var database = {</h1>

    <h2>"people": {</h2>

    <% people.forEach(person => { %>
        <span>
            &#160;&#160;"<%= person._id %>": {<br>
            <% personStrItems.forEach(str => { %>
                &#160;&#160;&#160;&#160;"<%= str %>":
                "<%= person[str] %>",<br>
            <% }); %>
            <% personArrItems.forEach((str, j) => { %>
                &#160;&#160;&#160;&#160;"<%= str %>":
                <% if (person[str] == null || person[str].length == 0) { %>
                    [],<br>
                <% } else { %>
                    ["<%= person[str].join('", "') %>"],<br>
                <% } %>
            <% }); %>

            &#160;&#160;&#160;&#160;"links":
            <% if (person.links == null || person.links.length == 0) { %>
                 []<br>
            <% } else if (person.links.length == 1) { %>
                ["<%= person.links[0] %>"]<br>
            <% } else { %>
                <% person.links.forEach((url, i) => { %>
                    <% if (i == 0) { %>
                        ["<%= url %>",<br>
                    <% } else if (i == person.links.length - 1) { %>
                        &#160;&#160;&#160;&#160;&#160;&#160;"<%= url %>"]<br>
                    <% } else { %>
                        &#160;&#160;&#160;&#160;&#160;&#160;"<%= url %>",<br>
                    <% } %>
                <% }); %>
            <% } %>

            &#160;&#160;},<br>
        </span>
    <% });%>

    <h2>}, "sources": {</h2>

    <% sources.forEach(source => { %>
    <% });%>

    <h2>}, "events": {</h2>

    <% events.forEach(event => { %>
    <% });%>

    <h2>}, "citations": {</h2>

    <% citations.forEach(citation => { %>
    <% });%>

    <h2>}</h2>
    <h1>}</h1>
</div>
