<h1>Notation</h1>

<form method="post" action="/notations/new">
  New notation:
  <input type="text" name="title" placeholder="title"></input>
  <button>add</button>
</form>

<table border="1">
  <tr>
    <th>title</th>
  </tr>
  <% notations.forEach(notation => { %>
    <tr>
      <td>
        <%= notation.title %>
      </td>
    </tr>
  <% }); %>
</table>
