<title>
    Sharing | Lundberg Ancestry
</title>

<div id="content">
    const people = [<br>

    <% people.forEach((person, i) => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(person) %><%= i < people.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    ];<br><br>

    const events = [<br>

    <% events.forEach((event, i) => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(event) %><%= i < events.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    ];<br><br>

    module.exports = {<br>
    &#160;&#160;people: people,<br>
    &#160;&#160;events: events,<br>
    };<br>
</div>
