<title>
    Sharing | Lundberg Ancestry
</title>

<div id="page-content">
    const DATABASE = {};<br><br>
    DATABASE.people = [<br>

    <% people.forEach((person, i) => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(person) %><%= i < people.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    ];<br><br>

    DATABASE.events = [<br>

    <% events.forEach((event, i) => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(event) %><%= i < events.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    ];<br><br>

    module.exports = DATABASE;<br>
</div>
