<title>
    Sharing | Lundberg Ancestry
</title>

<div id="page-content">
    const DATABASE = {};<br><br>
    DATABASE.people = [<br>

    <% people.forEach(person => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(person) %>,
        </span><br>
    <% }); %>

    ];<br><br>

    DATABASE.events = [<br>

    <% events.forEach(event => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(event) %>,
        </span><br>
    <% }); %>

    ];<br><br>

    DATABASE.sources = [<br>

    <% sources.forEach(source => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(source) %>,
        </span><br>
    <% }); %>

    ];<br><br>

    DATABASE.citations = [<br>

    <% citations.forEach(citation => { %>
        <span>
            &#160;&#160;<%= JSON.stringify(citation) %>,
        </span><br>
    <% }); %>

    ];<br><br>

    module.exports = DATABASE;<br>
</div>
