* {
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

/* LINKS */

a, .clickable-link {
  color: #00B7FF;
  text-decoration: underline;
}

a:hover, .clickable-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-link {
  display: inline-block;
  margin: 10px;
}

/* PRIMARY ELEMENTS */

button {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

h1, h2, h3 {
  margin: 10px 0px;
}

/* REUSABLE */

ul.bullet-list {
  margin-left: 25px;
}

ul.bullet-list li {
  padding: 3px;
}

ul.no-bullet-list {
  list-style: none;
  margin-left: 0;
}

/* TO-DO LIST */

.to-do-list td {
  border: 1px solid gray;
  padding: 5px;
}

.to-do-list p {
  margin-bottom: 5px;
}

.to-do-list .edit-todo,
.to-do-list .button-cancel {
  display: none;
}

.edit-to-do-list textarea {
  width: 300px;
  height: 100px;
}

/* EVENT LIST TABLE */

.event-list th,
.event-list td {
  padding: 5px 10px;
  border: 1px solid black;
}

.event-list th,
.event-list tr.event-row-personal td,
.event-list tr.event-row-census td {
  background-color: #d1ecfc;
}

/* TABLE TOGGLE FILTERS */

#event-list-filters {
  padding: 5px;
}

.filter-buttons .filter-button {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.filter-buttons .filter-button.active {
  background-color: #ddd;
}

#event-list-filters div {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

#event-list-filters div.active {
  background-color: #ddd;
}

/* OTHER */

.edit-form-frame td {
  border: 1px solid black;
  padding: 3px;
  max-width: 400px;
}

.edit-form-frame img {
  max-width: 300px;
}

.list_of_items {
  list-style: none;
}

.list_of_items li {
  padding: 2px;
}

#create_person_box {
  display: inline-block;
  padding: 10px;
  min-height: 80px;
}

/* CITATION TABLE */

table.citation-list th {
  border: 2px solid #bbb;
}

table.citation-list tr td:first-child {
  border-left: 1px solid #bbb;
}

table.citation-list tr td:last-child {
  border-right: 1px solid #bbb;
}

table.citation-list th,
table.citation-list td {
  padding: 5px 10px;
}

table.citation-list th .already-sorted,
table.citation-list th .clickable-link {
  font-size: 12px;
  font-weight: normal;
}

table.citation-list tr:last-child td {
  border-bottom: 1px solid #bbb;
}

.citation-list th,
.citation-list tr.alternate-row-true td {
  background-color: #d1edff;
}

.citation-list tr.alternate-row-false td {
  background-color: #ebf7ff;
}

td.citation-cell {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

td.citation-item {
  border-top: 1px solid #bbb;
}

td.citation-item-repeat {
  color: transparent;
  border-color: red;
}

/*******/

.text-content {
  max-width: 700px;
  margin: 10px 0px;
}

.source-item-box {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.source-item-box p {
  padding: 5px;
}

.content-table th, .content-table td {
  border: 1px solid black;
  padding: 4px;
  font-size: 12px;
}

.content-textarea {
  height: 300px;
  width: 500px;
}

.family-list-block {
  padding: 10px;
  vertical-align: text-top;
  width: 300px;
  display: inline-block;
}

.family-list-block ul {
  margin-left: 25px;
}

.person-navigation {
  list-style: none;
}

.person-navigation li {
  display: inline-block;
  margin: 10px;
}

.scrollbox {
  width: 100%;
  overflow: scroll;
}

img.checkmark-inline {
  height: 20px;
}

.checklist .checkmark {
  width: 30px;
}

.checklist .checkmark img {
  height: 20px;
}

.checklist-item div {
  display: inline-block;
  vertical-align: text-top;
}

.checklist-item {
  margin-left: 20px;
  margin-top: 5px;
}

.column {
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-top;
}

.profile-picture {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100px;
}

.info-table {
  margin-top: 10px;
}

.info-table th,
.info-table td {
  border: 1px solid black;
  padding: 3px;
}

.value-edit,
.value-new,
.value-original,
.link-cancel,
.button-submit,
.link-start {
  display: none;
}
