* {
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    background: url("/images/leaves.png");
    background-position: right -5;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    color: #00B7FF;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

button {
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

#main_navigation {
    list-style: none;
}

#main_navigation li {
    display: inline-block;
    margin: 2px 5px;
}

#content {
    padding: 15px;
}

.treecell div {
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

.treecell a {
    text-decoration: none;
}

.list_of_items {
    list-style: none;
}

.list_of_items li {
    padding: 2px;
}

#create_person_box {
    display: inline-block;
    padding: 10px;
    min-height: 80px;
}
