<%- include ../partials/header %>
<%
    var rootPath = "/person/" + (person.customId || person._id);
%>

<div id="content">
    <h1><%= person.name %></h1>

    <%- include('../people/miniNavigation', { rootPath: rootPath }) %>

    <h2>Links</h2>

    <div class="checklist">
        <% for (var linkType in checklistLinks) { %>
            <%
                var url = checklistLinks[linkType];
                var checked = url != null;
            %>
            <div class="checklist-item checklist-<%= checked %>">
                <div class="checkmark">
                    <img src="/images/check-<%= checked %>.png">
                </div>
                <div class="info">
                    <p>
                        <b><%= linkType %></b>
                    </p>
                </div>
            </div>
        <% } %>
    </div>

</div>
