<%- include ../partials/header %>
<% var rootPath = "/person/" + (person.customId || person._id); %>
<% var rootEditPath = rootPath + "/edit" %>

<div id="content">
    <h1><%= person.name %>: Edit</h1>

    <p>
        <a href="<%= rootPath %>" class="main-link">done</a>
    </p>

    <table border="1">

        <!-- NAME -->

        <% var editNamePath = rootEditPath + "/name"; %>

        <tr>
            <td>
                <b>name</b>
            </td>
            <form action="<%= editNamePath %>" method="POST">
                <td>
                    <% if (editView == 'name') { %>
                        <input type="text" value="<%= person.name %>" name="name">
                    <% } else { %>
                        <%= person.name %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'name') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editNamePath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- ID -->

        <% var editIdPath = rootEditPath + "/id"; %>

        <tr>
            <td>
                <b>id</b>
            </td>
            <form action="<%= editIdPath %>" method="POST">
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="text" value="<%= person.customId %>" name="customId">
                    <% } else { %>
                        <%= person.customId %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editIdPath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- PARENTS -->

        <%- include('../forms/personRelatives', { relationshipType: 'Parent', relationship: 'parents' }) %>

        <!-- SPOUSES -->

        <%- include('../forms/personRelatives', {relationshipType: 'Spouse', relationship: 'spouses' }) %>

        <!-- CHILDREN -->

        <%- include('../forms/personRelatives', {relationshipType: 'Child', relationship: 'children' }) %>

        <!-- LINKS -->

        <%- include('../forms/links', { params: {
            links: person.links,
            rootPath: rootEditPath,
            addLinkPath: rootPath + '/edit/links',
            deleteLinkPath: rootPath + '/delete/links',
            reorderLinkPath: rootPath + '/reorder/links',
            editActive: editView == 'links',
            editAvailable: editView == 'none',
        }}) %>

    </table>

</div>
