<%- include ../partials/header %>

<%
    var rootPath = "/person/" + (person.customId || person._id);
    var rootEditPath = rootPath + "/edit"
%>

<div id="page-content">
    <%- include('../people/personHeader', { params: {
        person: person,
        edit: true,
    }}) %>

    <table class="edit-form-frame">

        <!-- NAME -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'name',
            editPath: rootEditPath + '/name',
            originalValue: person.name,
        }}) %>

        <!-- ID -->

        <% var editIdPath = rootEditPath + "/id"; %>

        <tr>
            <td>
                <b>id</b>
            </td>
            <form action="<%= editIdPath %>" method="POST">
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="text" value="<%= person.customId %>" name="customId">
                    <% } else { %>
                        <%= person.customId %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editIdPath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- PARENTS -->

        <%- include('../forms/personRelatives', { relationshipType: 'Parent', relationship: 'parents' }) %>

        <!-- SPOUSES -->

        <%- include('../forms/personRelatives', {relationshipType: 'Spouse', relationship: 'spouses' }) %>

        <!-- CHILDREN -->

        <%- include('../forms/personRelatives', {relationshipType: 'Child', relationship: 'children' }) %>

        <!-- LINKS -->

        <%- include('../forms/links', { params: {
            links: person.links,
            rootPath: rootPath,
            editIsActive: editView == 'links',
            editIsAvailable: editView == 'none',
        }}) %>

    </table>

</div>

<script>
  initializeEditForm('<%= editView %>' != 'none');
</script>
