<%- include ../partials/header %>
<% var rootPath = "/person/" + (person.customId || person._id); %>
<% var rootEditPath = rootPath + "/edit" %>

<div id="content">
    <h1><%= person.name %>: Edit</h1>

    <p>
        <a href="<%= rootPath %>" class="main-link">done</a>
    </p>

    <table border="1">

        <!-- NAME -->

        <% var editNamePath = rootPath + "/editName"; %>

        <tr>
            <td>
                <b>name</b>
            </td>
            <form action="<%= editNamePath %>" method="POST">
                <td>
                    <% if (editView == 'name') { %>
                        <input type="text" value="<%= person.name %>" name="name">
                    <% } else { %>
                        <%= person.name %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'name') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editNamePath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- ID -->

        <% var editIdPath = rootPath + "/editId"; %>

        <tr>
            <td>
                <b>id</b>
            </td>
            <form action="<%= editIdPath %>" method="POST">
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="text" value="<%= person.customId %>" name="customId">
                    <% } else { %>
                        <%= person.customId %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editIdPath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- PARENTS -->

        <%- include('../forms/personRelatives', { relationshipType: 'Parent', relationship: 'parents' }) %>

        <!-- SIBLINGS -->

        <% for (var p = 0; p < (siblings.length || 1); p++) { %>
            <tr>
                <td>
                    <% if (p == 0) { %>
                        <b>siblings</b>
                    <% } %>
                </td>
                <td>
                    <% if (p < siblings.length) { %>
                        <%- include('../partials/linkToPerson', {person: siblings[p]}) %>
                    <% } %>
                </td>
                <td>
                </td>
            </tr>
        <% } %>

        <!-- SPOUSES -->

        <%- include('../forms/personRelatives', {relationshipType: 'Spouse', relationship: 'spouses' }) %>

        <!-- CHILDREN -->

        <%- include('../forms/personRelatives', {relationshipType: 'Child', relationship: 'children' }) %>

        <!-- LINKS -->

        <%- include('../forms/links', {
            links: person.links,
            rootPath: rootEditPath,
            addLinkPath: rootPath + '/addLink',
            deleteLinkPath: rootPath + '/deleteLink',
            editActive: editView == 'links',
            editAvailable: editView == 'none',
        }) %>

    </table>

    <!-- TREE -->

    <h2> Tree </h2>

    <%- include('../partials/personTree', { person: person, people: people, safety: 0 }) %>

    <!-- TIMELINE -->

    <% var addEventPath = rootPath + "/addEvent"; %>

    <h2> Timeline </h2>

    <% if (editView == 'events') { %>
        <%- include('../forms/newEvent', { actionPath: addEventPath, cancelPath: rootPath }) %>
    <% } else if (editView == 'none') { %>
        <p>
            <a href="<%= addEventPath %>">+ Create Event</a>
        </p>
    <% } %>

    <%- include('../events/eventList', { events: events, people: people }) %>

    <!-- CITATIONS -->

    <h2> Citations </h2>

    <%- include('../partials/citationList', {
        citations: citations,
        showDelete: false,
        showSource: true,
        showPerson: false,
        groupBy: 'item',
    }) %>

    <!--  -->

</div>
