<%- include ../partials/header %>

<div id="content">
    <%- include('../people/personHeader', { params: {
        person: person,
    }}) %>

    <% relationships.forEach((relationship) => { %>
        <div>
            <h3><%= relationship %> (<%= (peopleGroups[relationship] || []).length %>)</h3>
            <% if (peopleGroups[relationship] != null) { %>
                <ul>
                    <% peopleGroups[relationship].forEach((thisPerson) => { %>
                        <li> <%= thisPerson.name %> </li>
                    <% }); %>
                </ul>
            <% } %>
        </div>
    <% }); %>
</div>
