<style>
    td {
        padding: 5px;
    }
</style>

<%- include ../partials/header %>

<%
    var previousRelationship = '';
%>

<div id="page-content">
    <%- include('../people/personHeader', { params: {
        person: person,
    }}) %>

    <table border="1">
        <% relativeList.forEach(obj => { %>
            <%
                var thisRelationship = '';

                if (obj.relationship != previousRelationship) {
                    thisRelationship = obj.relationship;
                    previousRelationship = obj.relationship;
                }
            %>
            <tr>
                <td>
                    <%= thisRelationship %>
                </td>
                <td>
                    <%- include('../partials/linkToPerson', {person: obj.person}) %>
                </td>
            </tr>
        <% }); %>
    </table>
</div>
