<style>
    td {
        padding: 5px;
    }
</style>

<%- include ../partials/header %>

<%
    var previousRelationship = '';
%>

<div id="page-content">
    <%- include('../people/personHeader', { params: {
        person: person,
    }}) %>

    <% if (relativeList[0].person.name != person.name) { %>
        <p style="color: red;">
            List is cached.
            <br> - <%= relativeList[0].person.name %>
            <br> - <%= person.name %>
        </p>
    <% } %>

    <table border="1">
        <tr>
            <th> relationship </th>
            <th> person </th>
            <th> generation </th>
            <th> distance </th>
            <th> description </th>
        </tr>

        <% relativeList.forEach(obj => { %>
            <%
                var thisRelationship = '';

                if (obj.relationship != previousRelationship) {
                    thisRelationship = obj.relationship;
                    previousRelationship = obj.relationship;
                }
            %>
            <tr>
                <td>
                    <%= thisRelationship %>
                </td>
                <td>
                    <%- include('../partials/linkToPerson', {person: obj.person}) %>
                </td>
                <td>
                    <%= obj.generation %>
                </td>
                <td>
                    <%= obj.distance %>
                </td>
                <td>
                    <%= obj.description %>
                </td>
            </tr>
        <% }); %>
    </table>
</div>
