<%- include ../partials/header %>
<% var rootPath = "/person/" + (person.customId || person._id); %>

<div id="content">
    <h1><%= person.name %></h1>

    <table border="1">

        <!-- NAME -->

        <% var editNamePath = rootPath + "/editName"; %>

        <tr>
            <td>
                <b>name</b>
            </td>
            <form action="<%= editNamePath %>" method="POST">
                <td>
                    <% if (editView == 'name') { %>
                        <input type="text" value="<%= person.name %>" name="name">
                    <% } else { %>
                        <%= person.name %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'name') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editNamePath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- ID -->

        <% var editIdPath = rootPath + "/editId"; %>

        <tr>
            <td>
                <b>id</b>
            </td>
            <form action="<%= editIdPath %>" method="POST">
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="text" value="<%= person.customId %>" name="customId">
                    <% } else { %>
                        <%= person.customId %>
                    <% } %>
                </td>
                <td>
                    <% if (editView == 'customId') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootPath %>">cancel</a>
                    <% } else if (editView == 'none') { %>
                        <a href="<%= editIdPath %>">edit</a>
                    <% } %>
                </td>
            </form>
        </tr>

        <!-- PARENTS -->

        <%- include('../forms/personRelative', { relationshipType: 'Parent', relationship: 'parents' }) %>

        <!-- SIBLINGS -->

        <% for (var p = 0; p < (siblings.length || 1); p++) { %>
            <tr>
                <td>
                    <% if (p == 0) { %>
                        <b>siblings</b>
                    <% } %>
                </td>
                <td>
                    <% if (p < siblings.length) { %>
                        <%- include('../partials/linkToPerson', {person: siblings[p]}) %>
                    <% } %>
                </td>
                <td>
                </td>
            </tr>
        <% } %>

        <!-- SPOUSES -->

        <%- include('../forms/personRelative', {relationshipType: 'Spouse', relationship: 'spouses' }) %>

        <!-- CHILDREN -->

        <%- include('../forms/personRelative', {relationshipType: 'Child', relationship: 'children' }) %>

        <!-- LINKS -->

        <%
            var numberOfLinks = person.links.length;
            var addLinkPath = rootPath + "/addLink";
            var deleteLinkPath = rootPath + "/deleteLink";
        %>

        <% for (var i = 0; i < numberOfLinks + 1; i++) { %>
            <tr>
                <td>
                    <% if (i == 0) { %>
                        <b>links</b>
                    <% } %>
                </td>
                <% if (i < numberOfLinks) { %>
                    <form action="<%= deleteLinkPath %>/<%= i %>" method="POST">
                        <td>
                            <%- include('../format/externalLink', { url: person.links[i] }) %>
                        </td>
                        <td>
                            <% if (editView == 'none') { %>
                                <input type="hidden" value="PUT" name="_method">
                                <button type="submit">delete</button>
                            <% } %>
                        </td>
                    </form>
                <% } else { %>
                    <form action="<%= addLinkPath %>" method="POST">
                        <td>
                            <% if (editView == 'none') { %>
                                <a href="<%= addLinkPath %>">add</a>
                            <% } else if (editView == 'links') { %>
                                <input type="text" value="" name="links">
                            <% } %>
                        </td>
                        <td>
                            <% if (editView == 'links') { %>
                                <input type="hidden" value="PUT" name="_method">
                                <button type="submit">save</button>
                                <a href="<%= rootPath %>">cancel</a>
                            <% } %>
                        </td>
                    </form>
                <% } %>
            </tr>
        <% } %>
    </table>

    <!-- TREE -->

    <h2> Tree </h2>

    <%- include('../partials/personTree', { person: person, people: people, safety: 0 }) %>

    <!-- TIMELINE -->

    <h2> Timeline </h2>

    <%- include('../events/eventList', { events: events, people: people }) %>

    <!--  -->

</div>
