<%- include ../partials/header %>
<% var rootPath = "/person/" + (person.customId || person._id); %>

<div id="content">
    <h1><%= person.name %></h1>

    <ul>
        <li><a href="<%= rootPath %>">summary</a></li>
        <li><a href="<%= rootPath %>/sources">sources</a></li>
        <li><a href="<%= rootPath %>/edit">edit person</a></li>
    </ul>

    <h2>Family</h2>

    <div>
        <% if (person.parents.length) { %>
            <div class="family-list-block">
                <h3>parents</h3>
                <%- include('../partials/peopleList', { people: person.parents }) %>
            </div>
        <% } %>

        <% if (siblings.length) { %>
            <div class="family-list-block">
                <h3>siblings</h3>
                <%- include('../partials/peopleList', { people: siblings }) %>
            </div>
        <% } %>
    </div>

    <div>
        <% if (person.spouses.length) { %>
            <div class="family-list-block">
                <h3>spouses</h3>
                <%- include('../partials/peopleList', { people: person.spouses }) %>
            </div>
        <% } %>

        <% if (person.children.length) { %>
            <div class="family-list-block">
                <h3>children</h3>
                <%- include('../partials/peopleList', { people: person.children }) %>
            </div>
        <% } %>
    </div>

    <% if (person.links.length) { %>
        <h2>Links</h2>
        <ul class="bullet-list">
            <% for (var i = 0; i < person.links.length; i++) { %>
                <li>
                    <%- include('../format/externalLink', { url: person.links[i] }) %>
                </li>
            <% } %>
        </ul>
    <% } %>

    <h2> Tree </h2>

    <%- include('../partials/personTree', { person: person, people: people, safety: 0 }) %>

    <% var addEventPath = rootPath + "/addEvent"; %>

    <h2> Timeline </h2>

    <% if (editView == 'events') { %>
        <%- include('../forms/newEvent', { actionPath: addEventPath, cancelPath: rootPath }) %>
    <% } else if (editView == 'none') { %>
        <p>
            <a href="<%= addEventPath %>" class="main-link">+ Create Event</a>
        </p>
    <% } %>

    <%- include('../events/eventList', { events: events, people: people }) %>

    <h2> Citations </h2>

    <%- include('../partials/citationList', {
        citations: citations,
        showDelete: false,
        showSource: true,
        showPerson: false,
        groupBy: 'item',
    }) %>

</div>
