<%- include ../partials/header %>
<%
    var rootPath = "/person/" + (person.customId || person._id);
    var previousSourceType = '';
%>

<div id="content">
    <h1><%= person.name %></h1>

    <ul>
        <li><a href="<%= rootPath %>">summary</a></li>
        <li><a href="<%= rootPath %>/sources">sources</a></li>
        <li><a href="<%= rootPath %>/edit">edit person</a></li>
    </ul>

    <% for (var i = 0; i < sources.length; i++) { %>
        <%
            var source = sources[i];

            var content = source.content;
            if (content && content.length > 1000) {
                content = content.slice(0, 1000) + '...';
            }
        %>

        <% if (source.type != previousSourceType) { %>
            <h2><%= source.type %>s</h2>
            <% previousSourceType = source.type; %>
        <% } %>

        <div class="source-item-box">
            <p>
                <a href="/source/<%= source._id %>"><%= source.group %>
                <% if (source.group && source.title) { %>
                    -
                <% } %>
                <%= source.title %></a>
            </p>

            <% if (source.images.length) { %>
                <p>
                    <% for (var j = 0; j < source.images.length; j++) { %>
                        <a href="<%= source.images[j] %>" target="_blank">
                            <img src="<%= source.images[j] %>" height="100">
                        </a>
                    <% } %>
                </p>
            <% } %>

            <%- include('../format/content', { content: content }) %>
        </div>
    <% } %>

</div>
