<%- include ../partials/header %>

<%
    var rootPath = '/source/' + source._id;
    var rootEditPath = '/source/' + source._id + '/edit';
%>

<script>
  function initializeEditForm() {
    $('.value-edit').hide();
    $('.value-original').hide();
    $('.link-cancel').hide();
    $('.button-submit').hide();
  }

  function startEdit(item) {
    $('.link-start').hide();
    $('.link-cancel').hide();
    $('.button-submit').hide();

    $('.value-show').filter('[item="' + item + '"]').hide();
    $('.value-edit').filter('[item="' + item + '"]').show();
    $('.link-cancel').filter('[item="' + item + '"]').show();
    $('.button-submit').filter('[item="' + item + '"]').show();

    var originalValue = $('.value-original').filter('[item="' + item + '"]').val();
    $('.value-edit').filter('[item="' + item + '"]').val(originalValue);
  }

  function cancelEdit(item) {
    $('.value-show').show();
    $('.value-edit').hide();
    $('.link-cancel').hide();
    $('.link-start').show();
    $('.button-submit').hide();
  }
</script>

<div id="page-content">
    <%- include('./sourceHeader', { params: {
        source: source,
        view: 'edit',
    }}) %>

    <table class="edit-form-frame">

        <!-- TYPE, GROUP, TITLE -->

        <% var stringAttributes = ['type', 'group', 'title']; %>

        <% stringAttributes.forEach(attr => { %>
            <%
                var editAttrPath = rootEditPath + '/' + attr;
                var currentValue = source[attr];
            %>
            <tr>
                <td>
                    <b><%= attr %></b>
                </td>
                <form action="<%= editAttrPath %>" method="POST">
                    <td>
                        <span item="<%= attr %>" class="value-show"><%= currentValue %></span>
                        <input item="<%= attr %>" class="value-original" type="hidden" value="<%= currentValue %>">
                        <input item="<%= attr %>" class="value-edit" type="text" value="<%= currentValue %>" name="<%= attr %>">
                    </td>
                    <td>
                        <input type="hidden" value="PUT" name="_method">
                        <button item="<%= attr %>" class="button-submit" type="submit">save</button>
                        <a item="<%= attr %>" class="link-start" onclick="startEdit('<%= attr %>')">edit</a>
                        <a item="<%= attr %>" class="link-cancel" onclick="cancelEdit()">cancel</a>
                    </td>
                    <td>
                    </td>
                </form>
            </tr>
        <% }); %>

        <!-- DATE -->

        <%
            var editDatePath = rootEditPath + '/date';
        %>

        <tr>
            <td>
                <b>date</b>
            </td>
            <form action="<%= editDatePath %>" method="POST">
                <td>
                    <% if (editField == 'date') { %>
                        <%- include('../forms/date', { date: source.date }) %>
                    <% } else { %>
                        <%- include('../format/date', {date: source.date}) %>
                    <% } %>
                </td>
                <td>
                    <% if (editField == 'date') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editField == 'none') { %>
                        <a href="<%= editDatePath %>">edit</a>
                    <% } %>
                </td>
                <% if (editField == 'none') { %>
                    <td></td>
                <% } %>
            </form>
        </tr>

        <!-- LOCATION -->

        <%
            var editLocationPath = rootEditPath + '/location';
        %>

        <tr>
            <td>
                <b>location</b>
            </td>
            <form action="<%= editLocationPath %>" method="POST">
                <td>
                    <% if (editField == 'location') { %>
                        <%- include('../forms/location', { location: source.location }) %>
                    <% } else { %>
                        <%- include('../format/location', { location: source.location }) %>
                    <% } %>
                </td>
                <td>
                    <% if (editField == 'location') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootEditPath %>">cancel</a>
                    <% } else if (editField == 'none') { %>
                        <a href="<%= editLocationPath %>">edit</a>
                    <% } %>
                </td>
                <% if (editField == 'none') { %>
                    <td></td>
                <% } %>
            </form>
        </tr>

        <!-- PEOPLE -->

        <%
            var numberOfPeople = source.people.length;
            var addPersonPath = rootPath + '/add/people';
            var deletePersonPath = rootPath + '/delete/people';
            var reorderPersonPath = rootPath + '/reorder/people';
        %>

        <% for (var p = 0; p < numberOfPeople + 1; p++) { %>
            <tr>
                <td>
                    <% if (p == 0) { %>
                        <b>people</b>
                    <% } %>
                </td>
                <% if (p < numberOfPeople) { %>
                    <% let person = source.people[p]; %>
                    <td>
                        <%- include('../partials/linkToPerson', {person: person}) %>
                    </td>
                    <td>
                        <% if (editField == 'none') { %>
                            <form action="<%= deletePersonPath %>/<%= person.id %>" method="POST">
                                <input type="hidden" value="PUT" name="_method">
                                <button type="submit">delete</button>
                            </form>
                        <% } %>
                    </td>
                    <% if (editField == 'none') { %>
                        <td>
                            <% if (p > 0) { %>
                                <form action="<%= reorderPersonPath %>/<%= person.id %>" method="POST">
                                    <input type="hidden" value="PUT" name="_method">
                                    <button type="submit">reorder up</button>
                                </form>
                            <% } %>
                        </td>
                    <% } %>
                <% } else if (editField == 'none') { %>
                    <td>
                        <a href="<%= addPersonPath %>">add</a>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                <% } else if (editField == 'people') { %>
                    <form action="<%= addPersonPath %>" method="POST">
                        <td>
                            <%- include('../forms/personDropdown', {name: 'people', selected: null}) %>
                        </td>
                        <td>
                            <input type="hidden" value="PUT" name="_method">
                            <button type="submit">save</button>
                            <a href="<%= rootEditPath %>">cancel</a>
                        </td>
                    </form>
                <% } %>
            </tr>
        <% } %>

        <!-- LINKS -->

        <%- include('../forms/links', { params: {
            links: source.links,
            rootPath: rootPath,
            editIsActive: editField == 'links',
            editIsAvailable: editField == 'none',
        }}) %>

        <!-- IMAGES -->

        <%- include('../forms/images', {
            images: source.images,
            rootPath: rootEditPath,
            addImagePath: rootPath + '/add/images',
            deleteImagePath: rootPath + '/delete/images',
            editActive: editField == 'images',
            editAvailable: editField == 'none',
        }) %>

        <!-- NOTES -->

        <%
            var editNotesPath = rootEditPath + '/notes';
            var notesList = [];
            if (source.notes) {
                notesList = source.notes.split('\n');
            }
        %>

        <tr>
            <td>
                <b>notes</b>
            </td>
            <form action="<%= editNotesPath %>" method="POST">
                <td>
                    <div item="notes" class="value-show">
                        <% notesList.forEach(str => { %>
                            <p>
                                <%= str %>
                            </p>
                        <% }); %>
                    </div>
                    <input item="notes" class="value-original" type="hidden" value="<%= source.notes %>">
                    <textarea item="notes" class="value-edit" name="notes"><%= source.notes %></textarea>
                </td>
                <td>
                    <input type="hidden" value="PUT" name="_method">
                    <button item="notes" class="button-submit" type="submit">save</button>
                    <a item="notes" class="link-start" onclick="startEdit('notes')">edit</a>
                    <a item="notes" class="link-cancel" onclick="cancelEdit()">cancel</a>
                </td>
                <td>
                </td>
            </form>
        </tr>
    </table>

    <!-- CONTENT -->

    <%
        var editContentPath = rootEditPath + '/content';
    %>

    <h2>Content</h2>

    <% if (editField == 'none') { %>
        <p>
            <a href="<%= editContentPath %>">edit</a>
        </p>
    <% } %>

    <form action="<%= editContentPath %>" method="POST">
        <% if (editField == 'content') { %>
            <textarea name="content" class="content-textarea"><%= source.content %></textarea>
            <input type="hidden" value="PUT" name="_method">
            <button type="submit">save</button>
            <a href="<%= rootEditPath %>">cancel</a>
        <% } else { %>
            <%- include('../format/content', {
                content: source.content,
                limit: false,
            }) %>
        <% } %>
    </form>

    <h2>Citations</h2>

    <%
        var addCitationPath = rootPath + '/add/citations';
        var deleteCitationPath = rootPath + '/delete/citations';

        var defaultPerson = null;

        if (source.people.length == 1) {
            defaultPerson = source.people[0];
        }
    %>

    <% if (editField == 'citations') { %>
        <form action="<%= addCitationPath %>" method="POST">
            <table>
                <tr>
                    <td>
                        <b>person</b>
                    </td>
                    <td>
                        <%- include('../forms/personDropdown', {
                            name: 'person',
                            selected: defaultPerson
                        }) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>item</b>
                    </td>
                    <td>
                        <input type="text" name="item" placeholder="e.g., birth - place">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>information</b>
                    </td>
                    <td>
                        <input type="text" name="information" placeholder="e.g., 1880">
                    </td>
                </tr>
            </table>
            <p>
                <button type="submit">create</button>
            </p>
        </form>
        <p>
            <a href="<%= rootEditPath %>">cancel</a>
        </p>
    <% } else if (editField == 'none') { %>
        <p>
            <a href="<%= addCitationPath %>" class="main-link">+ Add Citation</a>
        </p>
    <% } %>

    <%- include('../partials/citationList', {
        citations: citations,
        showDelete: true,
        showSource: false,
        showPerson: true,
        rootPath: rootPath,
        groupBy: 'person',
    }) %>
</div>

<script>
  initializeEditForm();
</script>
