<%- include ../partials/header %>
<%
    var previousSourceType = '';
%>

<div id="page-content">
    <h1>
        <%= rootSource.group %>
    </h1>

    <p>
        (<%= rootSource.type %> group)
    </p>

    <div class="filter-buttons" filter="source-details">
        <div class="filter-button active" filter-set="content">
            content
        </div>
    </div>

    <% for (var i = 0; i < sources.length; i++) { %>
        <%
            var source = sources[i];
        %>

        <div class="source-item-box">
            <div class="column" style="width: 450px;">
                <p>
                    <a href="/source/<%= source._id %>"><%= source.group %>
                    <% if (source.group && source.title) { %>
                        -
                    <% } %>
                    <%= source.title %></a>
                </p>

                <% if (source.images.length) { %>
                    <p>
                        <% for (var j = 0; j < source.images.length; j++) { %>
                            <a href="<%= source.images[j] %>" target="_blank"><img
                                src="<%= source.images[j] %>" height="100"></a>
                        <% } %>
                    </p>
                <% } %>

                <p>
                    <%- include('../format/date', { params: {
                        date: source.date,
                        format: 'long',
                    }}) %>
                </p>

                <p>
                    <%- include('../format/location', { params: {
                        location: source.location,
                    }}) %>
                </p>

                <h3>people</h3>

                <%- include('../partials/peopleList', { people: source.people }) %>

                <h3>links</h3>

                <ul class="bullet-list">
                    <% source.links.forEach(url => { %>
                        <li>
                            <%- include('../format/externalLink', { url: url }) %>
                        </li>
                    <% }); %>
                </ul>

                <% if (source.notes) { %>
                    <%
                        var notesList = source.notes.split('\n');
                    %>
                    <h3>notes</h3>

                    <ul class="bullet-list">
                        <% notesList.forEach(str => { %>
                            <li style="max-width: 600px;">
                                <%= str %>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>
            </div>

            <div class="column" style="max-width: 600px;" filter="source-details" filter-set="content">
                <h3>content</h3>

                <%- include('../format/content', {
                    content: source.content,
                    limit: false,
                }) %>
            </div>
        </div>
    <% } %>
</div>

<script>
    createToggleFilter('source-details');
</script>
