<%
    const previousSourceType = '';
%>

<h1>
    <%= rootSource.group %>
</h1>

<% if (rootSource.type == 'grave') { %>
    <p>
        <%- include('../format/location', { params: {
            location: rootSource.location,
        }}) %>
    </p>
<% } else { %>
    <p>
        (<%= rootSource.type %> group)
    </p>
    <div class="filter-buttons" filter="source-details">
        <div class="filter-button active" filter-set="content">
            content
        </div>
    </div>
<% }%>

<% sources.forEach(source => { %>
    <%- include('./sourceBlock', {
        source: source,
    }); %>
<% }); %>

<script>
    createToggleFilter('source-details');
</script>
