<%- include ../partials/header %>

<%
    var rootPath = '/sources';
    var newSourcePath = rootPath + '/new';
%>

<div id="content">
    <h1>Sources</h1>

    <% if (showNew) { %>
        <%- include('../forms/newSource', { actionPath: newSourcePath, cancelPath: rootPath }) %>
    <% } else { %>
        <p>
            <a href="/sources/new" class="main-link">+ New Source</a>
        </p>
    <% } %>

    <ul class="bullet-list">
        <li>
            <a href="/sources">all</a>
        </li>
        <% mainSourceTypes.forEach(sourceType => { %>
            <li>
                <a href="/sources/<%= sourceType %>"><%= sourceType %></a>
            </li>
        <% }); %>
    </ul>

    <table class="info-table">
        <tr>
            <th>type</th>
            <th>group</th>
            <th>title</th>
            <th>date</th>
            <th>people</th>
            <th>links</th>
            <th>images</th>
        </tr>

        <% for (var i = 0; i < sources.length; i++) { %>
            <% var source = sources[i]; %>
            <tr>
                <td>
                    <%= source.type %>
                </td>
                <td>
                    <%= source.group %>
                </td>
                <td>
                    <%- include('../partials/linkToSource', {
                        source: source,
                        showGroup: false,
                    }) %>
                </td>
                <td>
                    <%- include('../format/date', {date: source.date}) %>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        <% } %>
    </table>
</div>
