<%- include ../partials/header %>

<%
    var rootPath = '/sources';
    var newSourcePath = rootPath + '/new';
    var showAllTypes = subView == 'none' || subView == 'new';
%>

<title>
    <% if (showNew) { %>
        New Source | Lundberg Ancestry
    <% } else {%> | Lundberg Ancestry
        Sources
    <% } %>
</title>

<div id="page-content">
    <h1>Sources</h1>

    <% if (showNew) { %>
        <%- include('../forms/newSource', { actionPath: newSourcePath, cancelPath: rootPath }) %>
    <% } else { %>
        <p>
            <a href="/sources/new" class="main-link">+ New Source</a>
        </p>
    <% } %>

    <ul class="bullet-list">
        <li>
            <a href="/sources">all</a>
        </li>
        <% mainSourceTypes.forEach(sourceType => { %>
            <%
                var sourceTypeText = sourceType;
                if (sourceType == 'index') {
                    sourceTypeText = 'web index';
                }
            %>
            <li>
                <a href="/sources/<%= sourceType %>"><%= sourceTypeText %></a>
            </li>
        <% }); %>
    </ul>

    <% if (!showAllTypes) { %>
        <h2><%= subView %></h2>
    <% } %>

    <%
        var showTableType = showAllTypes;
        var showTableGroup = subView != 'photos';
        var showTableDate = subView != 'graves';

        var groupLabel = 'group';
        if (subView == 'graves') {
            groupLabel = 'cemetery';
        } else if (subView == 'newspapers') {
            groupLabel = 'paper';
        }
    %>

    <table class="info-table">
        <tr>
            <% if (showTableType) { %>
                <th>type</th>
            <% } %>
            <% if (showTableGroup) { %>
                <th><%= groupLabel %></th>
            <% } %>
            <th>title</th>
            <% if (showTableDate) { %>
                <th>date</th>
            <% } %>
            <th>location</th>
        </tr>

        <% for (var i = 0; i < sources.length; i++) { %>
            <% var source = sources[i]; %>
            <tr>
                <% if (showTableType) { %>
                    <td>
                        <%= source.type %>
                    </td>
                <% } %>
                <% if (showTableGroup) { %>
                    <td>
                        <%= source.group %>
                    </td>
                <% } %>
                <td>
                    <%- include('../partials/linkToSource', {
                        source: source,
                        showGroup: false,
                    }) %>
                </td>
                <% if (showTableDate) { %>
                    <td>
                        <%- include('../format/date', { params: {
                            date: source.date,
                        }}) %>
                    </td>
                <% } %>
                <td>
                    <%- include('../format/location', { params: {
                        location: source.location,
                    }}) %>
                </td>
            </tr>
        <% } %>
    </table>
</div>
