<%- include ../partials/header %>

<%
    var rootPath = '/sources';
    var newSourcePath = rootPath + '/new';
    var showAllTypes = subView == 'none' || subView == 'new';
%>

<div id="page-content">
    <h1>Sources</h1>

    <% if (showNew) { %>
        <%- include('../forms/newSource', { actionPath: newSourcePath, cancelPath: rootPath }) %>
    <% } else { %>
        <p>
            <a href="/sources/new" class="main-link">+ New Source</a>
        </p>
    <% } %>

    <ul class="bullet-list">
        <li>
            <a href="/sources">all</a>
        </li>
        <% mainSourceTypes.forEach(sourceType => { %>
            <li>
                <a href="/sources/<%= sourceType %>"><%= sourceType %></a>
            </li>
        <% }); %>
    </ul>

    <% if (!showAllTypes) { %>
        <h2><%= subView %></h2>
    <% } %>

    <%
        var showTableType = showAllTypes;
        var showTableGroup = subView != 'graves' && subView != 'photos';
    %>

    <table class="info-table">
        <tr>
            <% if (showTableType) { %>
                <th>type</th>
            <% } %>
            <% if (showTableGroup) { %>
                <th>group</th>
            <% } %>
            <th>title</th>
            <th>date</th>
            <th>location</th>
        </tr>

        <% for (var i = 0; i < sources.length; i++) { %>
            <% var source = sources[i]; %>
            <tr>
                <% if (showTableType) { %>
                    <td>
                        <%= source.type %>
                    </td>
                <% } %>
                <% if (showTableGroup) { %>
                    <td>
                        <%= source.group %>
                    </td>
                <% } %>
                <td>
                    <%- include('../partials/linkToSource', {
                        source: source,
                        showGroup: false,
                    }) %>
                </td>
                <td>
                    <%- include('../format/date', {date: source.date}) %>
                </td>
                <td>
                    <%- include('../format/location', {location: source.location}) %>
                </td>
            </tr>
        <% } %>
    </table>
</div>
