<%
  const mentions = [];

  notations.filter(notation => notation.text).forEach(notation => {
    let personNumber = 0;
    const peopleList = notation.people.length ? notation.people : source.people;

    notation.text.split('\r\n').forEach(text => {
      let [replaceText, skipNumber] = text.split('\|').map(s => s.trim());

      if (skipNumber == 'skip') {
        return;
      }

      if (skipNumber) {
        skipNumber = parseInt(skipNumber);
      } else {
        skipNumber = 0;
      }

      let index = source.content.indexOf(replaceText);

      while (skipNumber > 0) {
        let tempContent = source.content.slice(index + 1);
        index += tempContent.indexOf(replaceText) + 1;
        skipNumber -= 1;
      }

      mentions.push({
        replaceText,
        index,
        person: peopleList[personNumber]
      });

      personNumber += 1;
    });
  });

  mentions.sort((a, b) => b.index - a.index);

  let content = source.content;

  mentions.forEach((mention, i) => {
    content = content.slice(0, mention.index)
      + 'INSERT-MENTION-' + (mentions.length - i)
      + content.slice(mention.index + mention.replaceText.length);
  });
%>

<h2>content</h2>

<%- include('../format/content', {content, mentions}) %>

<h2>mentions</h2>

<table id="mention-list">
  <tr>
    <th>character index</th>
    <th>actual text</th>
    <th>person name</th>
  </tr>
  <% mentions.forEach(mention => { %>
    <tr>
      <td><%= mention.index %></td>
      <td><%= mention.replaceText %></td>
      <td><%= (mention.person || { name:'NONE'}).name %></td>
    </tr>
  <% }); %>
</table>

<style>
  #mention-list td,
  #mention-list th {
    border: 1px solid black;
    padding: 5px;
  }
</style>
