<%- include ../partials/header %>

<% var rootPath = '/source/' + source._id; %>

<div id="content">
    <h1><%= source.group %><br><%= source.title %></h1>

    <p>
        <a href="<%= rootPath %>/edit" class="main-link">edit source</a>
    </p>

    <h2>date</h2>

    <p>
        <%- include('../format/date', {date: source.date}) %>
    </p>

    <h2>location</h2>

    <p>
        <%- include('../format/location', { location: source.location }) %>
    </p>

    <h2>people</h2>

    <%- include('../partials/peopleList', { people: source.people }) %>

    <h2>links</h2>

    <ul class="bullet-list">
        <% for (var i = 0; i < source.links.length; i++) { %>
            <li>
                <%- include('../format/externalLink', { url: source.links[i] }) %>
            </li>
        <% } %>
    </ul>

    <% if (source.images.length) { %>
        <h2>images</h2>

        <p>
            <% for (var j = 0; j < source.images.length; j++) { %>
                <a href="<%= source.images[j] %>" target="_blank"><img
                    src="<%= source.images[j] %>" height="100"></a>
            <% } %>
        </p>
    <% } %>

    <% if (source.notes) { %>
        <%
            var notesList = source.notes.split('\n');
        %>
        <h2>notes</h2>

        <ul class="bullet-list">
            <% for (var i = 0; i < notesList.length; i++) { %>
                <li style="max-width: 600px;">
                    <%= notesList[i] %>
                </li>
            <% } %>
        </ul>
    <% } %>

    <h2>content</h2>

    <%- include('../format/content', {
        content: source.content,
        limit: false,
    }) %>

    <h2>citations</h2>

    <%- include('../partials/citationList', {
        citations: citations,
        showDelete: true,
        showSource: false,
        showPerson: true,
        rootPath: rootPath,
        groupBy: 'person',
    }) %>
</div>
