<%
  const safety = locals.safety || 0;
  const showCountry = locals.showCountry == true;
  let foundNationality = locals.foundNationality || false;
  let cellNote = '';
  let cellClass = 'treecell';
  let showMissingParent = false;

  if (person.name == null) {
    person = findPersonInList(people, person);
  }

  if (showCountry && person.birthCountry != null) {
    if (person.birthCountry == 'United States') {
      if (person.parents.length === 2) {
        cellClass += ' usa';
      } else if (person.parents.length === 1) {
        cellClass += ' usa';
        showMissingParent = true;
      } else {
        cellClass += ' dead-end';
        cellNote = 'USA';
      }
    } else if (person.birthCountry == 'unknown') {
      if (!foundNationality) {
        cellClass += ' dead-end';
        foundNationality = true;
      } else {
        cellClass += ' unknown';
      }
      cellNote = person.birthCountry;
    } else {
      if (foundNationality) {
        cellClass += ' old-country';
      } else {
        cellClass += ' first-generation';
        foundNationality = true;
      }
      cellNote = person.birthCountry;
    }
  }
%>

<% if (person != null && safety < 50) { %>
  <table>
    <tr>
      <% person.parents.forEach(parent => { %>
        <td valign="bottom" align="center">
          <%- include('./_tree', {
            person: parent,
            people,
            showCountry,
            foundNationality,
            safety: safety + 1,
          }) %>
        </td>
        <% if (showMissingParent) { %>
          <td valign="bottom" align="center" class="treecell dead-end">
            <div>missing</div>
          </td>
        <% } %>
      <% }); %>
    </tr>
    <tr>
      <td colspan="2" class="<%= cellClass %>">
        <div>
          <%- include('../person/_link', {person}) %>
          <%= cellNote %>
        </div>
      </td>
    </tr>
  </table>
<% } %>
