<h2>Chart</h2>

<table border="1">
  <% for (let country in nationality) { %>
    <tr>
      <td>
        <%= nationality[country] %>
      </td>
      <td>
        <%= country %>
      </td>
    </tr>
  <% } %>
</table>

<h2>Tree</h2>

<div class="scrollbox">
  <%- include('./tree', {
    person: person,
    people: people,
    showCountry: true,
  }) %>
</div>
