<%
  const rootPath = '/person/' + paramPersonId;
  const addEventPath = rootPath + '/add/events';
%>

<style>
  #new-event-form {
    display: none;
  }
</style>

<h2>Timeline</h2>

<p id="new-event-link">
  <span class="clickable-link main-link">+ New Event</span>
</p>

<div id="new-event-form">
  <%- include('../event/_new', {actionPath: addEventPath}) %>
  <span class="clickable-link" id="new-event-cancel">cancel</span>
</div>

<%- include('../event/_list', {
  events: timelineEvents,
  filterByType: true,
}) %>

<script>
  $('#new-event-link span').click(() => {
    $('#new-event-link').hide();
    $('#new-event-form').show();
  });
</script>
