<h1>Checklist</h1>

<ul class="bullet-list">
  <li><a href="/checklist/vitals">Vitals</a> - person birth & death dates</li>
  <li><a href="/checklist/children">Children</a> - all children added</li>
  <li><a href="/checklist/wikitree">WikiTree</a></li>
</ul>
