<h1>Checklist</h1>

<ul class="bullet-list">
  <li><a href="/checklist/images">images</a></li>
  <li><a href="/checklist/custom">miscellaneous</a></li>
</ul>

<h2>people</h2>

<ul class="bullet-list">
  <li><a href="/checklist/vitals">vitals</a> - person birth & death dates</li>
  <li><a href="/checklist/profileSummary">profile summary</a></li>
</ul>

<h2>sources</h2>

<ul class="bullet-list">
  <li><a href="/checklist/sourceCensus">census</a></li>
</ul>

<h2>dynamic tag checklists</h2>

<ul class="bullet-list">
  <% checklistTags.forEach(tag => { %>
    <li>
      <%- include('../tag/_link', {tag}) %>
    </li>
  <% }); %>
</ul>
