<h1>Checklist</h1>

<ul class="bullet-list">
  <li><a href="/checklist/images">images</a></li>
  <li><a href="/checklist/places">places</a></li>
  <li><a href="/checklist/custom">miscellaneous</a></li>
</ul>

<h2>people</h2>

<ul class="bullet-list">
  <li><a href="/checklist/vitals">vitals</a> - person birth & death dates</li>
  <li><a href="/checklist/profileSummary">profile summary</a></li>
  <li>
    <a href="/checklist/personParentAges">parent ages</a> - analyze for possible mistakes
  </li>
</ul>

<h2>stories</h2>

<p>
  List of all entries and whether they have links, citation text, etc.
  <br>
  Also a list of all people that are missing the story.
</p>

<ul class="bullet-list">
  <% storiesWithChecklist.forEach(story => { %>
    <li>
      <%- include('../story/_link', {story, linkSubview: 'checklist'}) %>
    </li>
  <% }); %>
</ul>

<h2>sources</h2>

<ul class="bullet-list">
  <li>
    <a href="/checklist/sourceCensus">census</a>
    - list of all US census entries and whether they have links and citation text
  </li>
  <li>
    <a href="/checklist/obituaries">obituaries</a>
    - list of people who do not have obituaries in the database
  </li>
</ul>

<h2>dynamic tag checklists</h2>

<ul class="bullet-list">
  <% checklistTags.forEach(tag => { %>
    <li>
      <%- include('../tag/_link', {tag}) %>
    </li>
  <% }); %>
</ul>
