<h1>Checklist</h1>

<table border="1">
  <tr>
    <th> name </th>
    <th> birth </th>
    <th> death </th>
    <th> connection </th>
    <th> degree </th>
    <th> sharing </th>
  </tr>
  <% people.forEach(person => { %>
    <tr>
      <td>
        <%- include('../partials/linkToPerson', {
            person: person,
        }) %>
      </td>
      <td>
        <% if (person.birth) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td>
        <% if (person.death) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td>
        <%= person.connection %>
      </td>
      <td>
        <%= person.degree %>
      </td>
      <td>
        <% if (person.sharing.level == 2) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.sharing.level == 1) { %>
          restricted
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>

<style>
  th, td {
    padding: 5px;
  }
</style>
