<%
  const sections = [
    ['Profile managed - good condition', 'manage-good'],
    ['Profile managed - needs work', 'need-work'],
    ['Have link but not managed', 'have'],
    ['Need to add or find', 'missing'],
    ['Ignore', 'ignore'],
  ];

  people.forEach(person => {
    person.status = (() => {
      if (!person.links.some(link => link.match(' WikiTree'))) {
        if (person.tags.includes('wikitree=ignore')) {
          return 'ignore';
        }
        return 'missing';
      }
      if (person.tags.includes('wikitree=good')) {
        return 'manage-good';
      }
      if (person.tags.includes('wikitree=managed')) {
        return 'need-work';
      }
      return 'have';
    })();
  });
%>

<h1>Checklist - WikiTree</h1>

<% sections.forEach(([title, status]) => { %>
  <h2><%= title %></h2>
  <ul class="bullet-list">
    <% people.filter(person => person.status == status).forEach(person => { %>
      <li>
        <%- include('../partials/linkToPerson', { person }) %>
      </li>
    <% }); %>
  </ul>
<% }); %>
