<table class="edit-form-frame">
  <% fields.forEach(field => { %>
    <%
      if ((field.onlyIf && !field.onlyIf(item))
          || field.inputType === 'none') {
        return;
      }

      const data = {
        attr: field.name,
        editPath: rootPath + '/edit/' + field.name,
        dataType: field.dataType,
        toggle: field.toggle,
        fieldType: field.inputType || field.fieldType, // phase out fieldType
      };

      const filename = field.multi ? './tableRowMulti' : './tableRowSingle';

      data.values = field.getValue ? field.getValue(item) : item[field.name];
      data.originalValue = data.values;

      if (field.preventSharing) {
        data.preventSharing = field.preventSharing(item);
      }
    %>
    <%- include(filename, data) %>
  <% }); %>
</table>

<% if (locals.canDelete) { %>
  <%
    const deletePath = rootPath + '/delete';
    const buttonText = 'delete ' + itemName;
  %>
  <form
    action="<%= deletePath %>"
    method="post"
    onsubmit="return confirmDeletion('<%= itemName %>')"
  >
    <p style="padding-top: 20px;">
      <button type="submit" class="button-delete"><%= buttonText %></button>
    </p>
  </form>
<% } %>

<script>
  $(document).ready(() => {
    initializeEditForm();
  });
</script>
