<table class="edit-form-frame">
  <% locals.tableRows.forEach(rowData => { %>
    <%- include(rowData.filename, rowData) %>
  <% }); %>
</table>

<% if (locals.canDelete) { %>
  <%
    const deletePath = rootPath + '/delete';
    const buttonText = 'delete ' + itemName;
  %>
  <form
    action="<%= deletePath %>"
    method="post"
    onsubmit="return confirmDeletion('<%= itemName %>')"
  >
    <p style="padding-top: 20px;">
      <button type="submit" class="button-delete"><%= buttonText %></button>
    </p>
  </form>
<% } %>

<script>
  $(document).ready(initializeEditForm);
</script>
