<form method="POST" action="<%= actionPath %>">
    <table>
        <tr>
            <td>
                <b>type</b>
            </td>
            <td>
                <select>
                    <option value="document">document</option>
                    <option value="photo">photo</option>
                    <option value="article">article</option>
                    <option value="grave">grave</option>
                    <option value="other">other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>title</b>
            </td>
            <td>
                <input type="text" name="title">
            </td>
        </tr>
        <tr>
            <td>
                <b>date</b>
            </td>
            <td>
                <%- include('../forms/date', { date: null }) %>
            </td>
        </tr>
    </table>
    <p>
        <button type="submit">create</button>
    </p>
</form>

<p>
    <a href="<%= cancelPath %>">cancel</a>
</p>
