<table class="content-table">
  <% content.forEach(contentRow => { %>
    <%
      let remainingRow = contentRow;
    %>
    <tr>
      <% while (remainingRow.length) { %>
        <%
          let isHeader = false;
          remainingRow = remainingRow.slice(1);

          if (remainingRow.length && remainingRow.slice(0, 1) == '\|') {
            isHeader = true;
            remainingRow = remainingRow.slice(1);
          }

          remainingRow = remainingRow.trim();
          let thisCell;
          const nextCellIndex = remainingRow.indexOf('\|');

          if (nextCellIndex >= 0) {
            thisCell = remainingRow.slice(0, nextCellIndex);
            remainingRow = remainingRow.slice(nextCellIndex);
          } else {
            thisCell = remainingRow;
            remainingRow = '';
          }
        %>

        <% if (isHeader) { %>
          <th><%= thisCell %></th>
        <% } else { %>
          <td><%= thisCell %></td>
        <% } %>
      <% } %>
    </tr>
  <% }); %>
</table>
