<style>
    .text-content .full-view {
        display: none;
    }
</style>

<script>
    function showMore(clickedItem) {
        var $link = $(clickedItem);
        var $div = $link.closest('.text-content');
        $div.find('.cropped-view').remove();
        $div.find('.full-view').removeClass('full-view');
    }
</script>

<%
    var characterLimit = 500;
    var fullArr = [];
    var croppedArr = [];
    var isCropped = false;
    var tableArr = [];

    if (content) {
        if (limit) {
            if (content.length > characterLimit) {
                isCropped = true;
                var content2 = content.slice(0, characterLimit) + '...';
                croppedArr = content2.split('\n');
            }
        }
        fullArr = content.split('\n');
    }

    var fullViewClass = isCropped ? 'full-view' : '';

    function lineIsPartOfTable(str) {
        return str != null && str.length > 0 && str.slice(0, 1) == '\|';
    }
%>

<div class="text-content">
    <% if (isCropped) { %>
        <div class="cropped-view">
            <% croppedArr.forEach((str, i) => { %>
                <p>
                    <%= str %>
                </p>
            <% }); %>
            <a class="clickable-link" onClick="showMore(this)">show more</a>
        </div>
    <% } %>

    <div class="<%= fullViewClass %>">
        <% for (var i = 0; i < fullArr.length; i++) { %>
            <%
                var str = fullArr[i];
                var tableArr = [];

                if (lineIsPartOfTable(str)) {
                    tableArr.push(str);
                    while (lineIsPartOfTable(fullArr[i + 1])) {
                        tableArr.push(fullArr[i + 1]);
                        i += 1;
                    }
                }
            %>
            <% if (tableArr.length) { %>
                <%- include('../format/contentTable', { content: tableArr }) %>
            <% } else { %>
                <p> <%= str %> </p>
            <% } %>
        <% } %>
    </div>
</div>
