<% if (url) { %>
  <%
    let linkPath, linkText;

    if (url.match(' ')) {
      linkPath = url.slice(0, url.indexOf(' '));
      linkText = url.slice(url.indexOf(' ') + 1);
    } else {
      linkPath = url;
      linkText = url;
    }

    if (!linkPath.match('http')) {
      linkPath = 'https://' + linkPath;
    }
  %>
  <a href="<%= linkPath %>" target="_blank"><%= linkText %></a>
<% } %>
