<%
  let linkText = '';

  if (locals.showStory) {
    if (source.story && source.story.title) {
      linkText = source.story.title + ' - ';
    }
  }

  linkText += source.title;
%>
<a href="/source/<%= source._id %>"><%= linkText %></a>
