<%
  const showStory = locals.showStory || locals.showGroup || false;
  let linkText = '';

  if (showStory) {
    if (source.story && source.story.title) {
      linkText = source.story.title + ' - ';
    }
  }

  linkText += source.title;
%>

<a href="/source/<%= source._id %>"><%= linkText %></a>
