<h2>content</h2>

<%- include('../highlight/_formNew') %>

<%- include('../format/content', {
  content: source.highlightedContent,
  highlights: source.highlights,
}) %>

<script src="/scripts/newHighlights.js"></script>

<h2>highlights</h2>

<%- include('../highlight/_listTable', {highlights: source.highlights}) %>
