<%
  const mentions = [];

  notations.filter(notation => notation.text).forEach(notation => {
    let personNumber = 0;
    const peopleList = notation.people.length ? notation.people : source.people;

    notation.text.split('\r\n').forEach(text => {
      let [replaceText, skipNumber] = text.split('\|').map(s => s.trim());
      const mention = {replaceText};

      if (skipNumber && skipNumber.match('skip')) {
        skipNumber = skipNumber.replace('skip', '').trim();
        mention.skipTagging = true;
      }

      if (skipNumber && skipNumber.length) {
        skipNumber = parseInt(skipNumber);
        mention.instance = skipNumber;
      } else {
        skipNumber = 0;
      }

      mention.index = source.content.indexOf(replaceText);

      while (skipNumber > 0) {
        const tempContent = source.content.slice(mention.index + 1);
        const newIndex = tempContent.indexOf(replaceText);

        if (newIndex == -1) {
          mention.index = -1;
          mention.notFound = true;
          break;
        }

        mention.index += newIndex + 1;
        skipNumber -= 1;
      }

      if (!mention.skipTagging) {
        mention.person = peopleList[personNumber];
        personNumber += 1;
      }

      mentions.push(mention);
    });
  });

  highlights.forEach(highlight => {
    let text = highlight.text;
    text = text.replace(/\(/g, '\\(').replace(/\)/g, '\\)');

    const regex = new RegExp(text, 'gi');
    const mention = {};

    const matches = source.content.match(regex);

    if (!matches) {
      mentions.push({
        _id: highlight._id,
        replaceText: highlight.text,
        skipTagging: true,
        index: -1,
        notFound: true,
        skipHighlight: true,
      });
      return;
    }

    const inBetweens = source.content.split(regex);

    let index = inBetweens[0].length;

    for (let i = 0; i < highlight.instance; i++) {
      index += matches[i].length + inBetweens[i + 1].length;
    }

    highlight.index = index;

    mentions.push({
      _id: highlight._id,
      skipTagging: !highlight.linkPerson,
      replaceText: matches[highlight.instance],
      index,
      person: highlight.linkPerson,
    });
  });

  mentions.sort((a, b) => a.index - b.index);
  highlights.sort((a, b) => a.index - b.index);

  let remainingContent = source.content;
  let contentSoFar = '';
  let lengthSoFar = 0;

  mentions.forEach((mention, i) => {
    mention.i = i;

    if (mention.index < 0) {
      return;
    }

    if (mention.index < lengthSoFar) {
      mention.overlap = true;
      mention.skipHighlight = true;
      return;
    }

    const startIndex = mention.index - lengthSoFar;
    const endIndex = startIndex + mention.replaceText.length;

    const contentBefore = remainingContent.slice(0, startIndex);
    remainingContent = remainingContent.slice(endIndex);

    lengthSoFar += contentBefore.length + mention.replaceText.length;

    contentSoFar += contentBefore + 'INSERT-MENTION-' + mention.i;
  });

  const content = contentSoFar + remainingContent;
%>

<h2>content</h2>

<%- include('../highlight/_formNew') %>
<%- include('../format/content', {content, mentions}) %>

<script src="/scripts/newHighlights.js"></script>

<h2>highlights</h2>

<%- include('../highlight/_listTable', {highlights, mentions}) %>
