<%
  const mentions = [];

  notations.filter(notation => notation.text).forEach(notation => {
    let personNumber = 0;
    const peopleList = notation.people.length ? notation.people : source.people;

    notation.text.split('\r\n').forEach(text => {
      let [replaceText, skipNumber] = text.split('\|').map(s => s.trim());
      const mention = {replaceText};

      if (skipNumber && skipNumber.match('skip')) {
        skipNumber = skipNumber.replace('skip', '').trim();
        mention.skipTagging = true;
      }

      if (skipNumber && skipNumber.length) {
        skipNumber = parseInt(skipNumber);
      } else {
        skipNumber = 0;
      }

      mention.index = source.content.indexOf(replaceText);

      while (skipNumber > 0) {
        const tempContent = source.content.slice(mention.index + 1);
        const newIndex = tempContent.indexOf(replaceText);

        if (newIndex == -1) {
          mention.index = -1;
          mention.notFound = true;
          break;
        }

        mention.index += newIndex + 1;
        skipNumber -= 1;
      }

      if (!mention.skipTagging) {
        mention.person = peopleList[personNumber];
        personNumber += 1;
      }

      mentions.push(mention);
    });
  });

  mentions.sort((a, b) => b.index - a.index);

  let content = source.content;

  mentions.forEach((mention, i) => {
    if (mention.index < 0) {
      return;
    }
    content = content.slice(0, mention.index)
      + 'INSERT-MENTION-' + (mentions.length - i)
      + content.slice(mention.index + mention.replaceText.length);
  });
%>

<style>
  #mention-list td,
  #mention-list th {
    border: 1px solid black;
    padding: 5px;
  }
</style>

<h2>content</h2>

<%- include('../format/content', {content, mentions}) %>

<h2>mentions</h2>

<table id="mention-list">
  <tr>
    <th>character index</th>
    <th>actual text</th>
    <th>person name</th>
  </tr>
  <% mentions.forEach(mention => { %>
    <tr>
      <td><%= mention.index %></td>
      <td><%= mention.replaceText %></td>
      <td>
        <% if (mention.person) { %>
          <%= mention.person.name %>
        <% } else if (mention.skipTagging) { %>
          <span style="color: blue;">SKIP</span>
        <% } else { %>
          <span style="color: red;">NONE</span>
        <% } %>
        <% if (mention.notFound) { %>
          <span style="color: red;">NOT FOUND</span>
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>
